# LEA application environment.
# Supported values: development, test, production
LEA_ENV=development

# LEA console logging level.
# Supported values: DEBUG, INFO, WARNING, ERROR, CRITICAL
LEA_LOG_LEVEL=INFO
